<div class="col-11 col-md-8 card bg-light border-primary p-3 p-md-5">
  <%= simple_form_for(@pet) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
    <div class="form-inputs">
      <div class="form-group mb-3">
        <%= f.input :name, label: "Pet name", placeholder: "Pawlie Pawsome", hint: "Only alphabets and spaces are allowed", class: "form-control" %>
      </div>    
  
      <!-- Nested Breed & Category Attributes -->
      <%= f.simple_fields_for :breed, @pet.breed do |breed| %>
        <%= breed.error_notification %>
        <%= breed.error_notification message: breed.object.errors[:base].to_sentence if breed.object.errors[:base].present? %>
        <div class="form-row mb-0">

          <div class="form-group col-md-4">
            <%= breed.association :category, collection: Category.order(:id), label: "Animal Category", required: true %>
          </div>

          <div class="form-group col-md-8">
            <%= breed.input :name, required: true, label: "Breed", placeholder: "Domestic short hair", hint: "Type 'unknown', if unsure", class: "form-control" %>
          </div>
        </div>
      <% end %>      
            
      <div class="form-group mb-3">
        <%= f.input :dob, as: :date, start_year: Date.today.year - 30, end_year: Date.today.year, label: "Date of birth", class: "form-control" %>
      </div>

      <div class="form-check form-check-inline mb-3">
        <%= f.input :gender, as: :radio_buttons, collection: [["Male", "male"], ["Female", "female"], ["Unknown", "unknown"]], class: "form-check-input", wrapper_html: { class: "form-check-inline" } %>
      </div> 
  
      <div class="form-group mb-3">
        <%= f.input :bio, as: :text, label: "Short bio of your pet", hint: "100 characters limit", required: false, class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= f.input :instagram, label: "If your pet has its own Instagram account", hint: "No spaces or symbols except periods and underscores are allowed", required: false, class: "form-control" %>
      </div>

      <!-- Pet profile photo attribute -->
      <div class="form-group mb-5">
        <%= f.input :profile_photo, as: :file, label: "Your pet's best profile photo", required: false, class: "form-control-file" %>
      </div>


    </div>

    <div class="form-actions">
      <%= f.button :submit, "Add Pet", class: "btn btn-primary" %>
    </div>  

  <% end %>
</div> 