<section class="container my-5">
  <header class="mb-5">
    <h1 class="display-4">Paw Pets</h1>
    <h2 class="subtitle">All the pawesomes pets</h2>
  </header>
  <main>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugiat 
    </p>
    
    <%= link_to "Become Pawesomes!", new_user_registration_path, class: "btn btn-primary my-3 mb-5" %>

    <table>
      <thead>
        <tr>
          <th>Owner</th>
          <th>Breed</th>
          <th>Name</th>
          <th>Dob</th>
          <th>Gender</th>
          <th>Bio</th>
          <th>Instagram</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @pets.each do |pet| %>
          <tr>
            <td><%= pet.owner_id %></td>
            <td><%= pet.breed_id %></td>
            <td><%= pet.name %></td>
            <td><%= pet.dob %></td>
            <td><%= pet.gender %></td>
            <td><%= pet.bio %></td>
            <td><%= pet.instagram %></td>
            <td><%= link_to 'Show', pet %></td>
            <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
            <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Pet', new_pet_path %>

  </main>
</section>


