<section class="container my-5">
  <header class="mb-5">
    <h1 class="display-4"><%= @pet.name.titlecase %></h1>
    <h2 class="subtitle"><%= @pet.display_category_breed %></h2>
  </header>
  <main>
    <div class="row">
      <picture class="w-50 ml-0">
        <%= image_tag @pet.profile_photo, class: "img-thumbnail rounded profile-photo" if @pet.profile_photo.attached? %>
      </picture>
    </div>
    
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugiat 
    </p>
    
    <%= link_to "Support #{(@pet.name).titlecase}", pets_path, class: "btn btn-primary my-3 mb-5" %>

    <%= link_to "Back to Paw Pets", pets_path, class: "btn btn-outline-primary my-3 mb-5" %>
  </main>
</section>


<p>
  <strong>Location:</strong>
  <%= @pet.display_owner_location %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.display_age %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @pet.owner.username %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @pet.display_dob %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @pet.gender %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @pet.bio %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @pet.instagram %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
