<section class="container my-5">
  
  <header class="mb-5">
    <h1 class="display-4">Pawlour</h1>
    <h2 class="subtitle">The parlour where all the paw-pets gather</h2>
  </header>

  <main>
    <section class="row row-cols-2 row-cols-md-4">
      <%= render "shared/card_pet", pets: @pets %>
    </section>

    <table>
      <thead>
        <tr>
          <th>Owner</th>
          <th>Breed</th>
          <th>Name</th>
          <th>Dob</th>
          <th>Gender</th>
          <th>Bio</th>
          <th>Instagram</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @pets.each do |pet| %>
          <tr>
            <td><%= pet.owner_id %></td>
            <td><%= pet.breed_id %></td>
            <td><%= pet.name %></td>
            <td><%= pet.dob %></td>
            <td><%= pet.gender %></td>
            <td><%= pet.bio %></td>
            <td><%= pet.instagram %></td>
            <td><%= link_to 'Show', pet %></td>
            <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
            <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </main>
</section>
<!-- If current user a pet owner, enable New Pet -->
<% if current_user.owner? %>
  <section>
    <%= render 'add_pet' %>
  </section>
<% end %>

