<div class="container my-3 my-md-5">
  <header class="mb-5">
    <h1 class="display-4">Login</h1>
    <h3 class="subtitle mb-5">Welcome back!</h3>
  </header>
  
  <section class="row justify-content-center align-items-center">
    <div class="col-11 col-md-8 card bg-light border-primary p-3 p-md-5">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>      
      
        <div class="form-group mb-3">
          <%= f.input :email, label: "E-mail", placeholder: "myemail@email.com", input_html: { autocomplete: "email" }, class: "form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= f.input :password, input_html: { autocomplete: "current-password"}, class: "form-control" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="form-actions mb-3">
          <%= f.button :submit, "Login", class: "btn btn-primary" %>
          <%= render "devise/shared/links" %>
        </div>
        
      <% end %>
    </div>
  </section>
</div>